@charset "UTF-8";

h1
{
    margin: 20px 150px 40px 150px;
    text-align: center;
}
.margin
{
    margin-top:50px ;
    margin-left: 190px;
}
body 
{  
    border: 15px solid black;
    color: yellow;
    font-size: 30px;
}
.font 
{
    color:rgb(54, 123, 123);
    font-size: 40px;
    text-align: center;
}
.font2
{
    color: green;
    font-size: 20px;
}
p
{
    margin: 20px 15px 30px 50px;
}

